<p style="color: green"><%= notice %></p>

<h1><%= @article.title%></h1>

<p><%=  @article.content %></p>


<div>
  <%= link_to "Edit this articale", edit_articale_path(@article) %> |
  <%= link_to "Back to articales", articales_path %>

  <%= button_to "Destroy this articale", @article, method: :delete %>
</div>
